<div class="list-order-container">
  <p class="title">Danh sách món đã chọn</p>
  <div class="order-content">

  </div>
  <div class="order-footer">
    <p class="remaining-time">
      Thời gian còn lại:
      <nz-countdown [nzValue]="deadline" (nzCountdownFinish)="remainingTimeFinish($event)"></nz-countdown>
    </p>
    <div class="btn-group">
      <button class="btn-cancel" (click)="cancelDelivery()">Hủy đơn</button>
      <button class="btn-place-order">Chốt đơn</button>
    </div>
  </div>
</div>
