<div class="list-order-container">
  <p class="title">Danh sách món đã chọn</p>
  <div class="order-content">

  </div>
  <div class="order-footer">
    <p class="remaining-time">
      Thời gian bình chọn:
      <nz-countdown *ngIf="(remainingTime | processTime:createDate) && !timeout; else timeOut"
        [nzValue]="(remainingTime | processTime:createDate)"
        (nzCountdownFinish)="remainingTimeFinish()"
      ></nz-countdown>
      <ng-template #timeOut>
        <span class="time-out">Hết giờ</span>
      </ng-template>
    </p>
    <div class="btn-group">
      <button class="btn-cancel" (click)="cancelDelivery()">Hủy đơn</button>
      <button class="btn-place-order">Chốt đơn</button>
    </div>
  </div>
</div>
