:host ::ng-deep .create-delivery-container {
  height: calc(100vh - 64px);

  .create-delivery-content {
    height: calc(100vh - 64px - 50px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      box-shadow: 0px 1px 15px rgba(180, 191, 206, 0.1);
      background-color: #ffffff;
      animation-duration: 0.1s;
      animation-name: showOut;
      animation-timing-function: ease-in-out;
      width: 50vh;
      height: 30vh;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .other-user-create {
        text-align: center;
        font-family: 'Dosis';
        font-size: 1.1rem;

        span.current-user {
          font-weight: bold;
        }
      }

      button {
        width: 25%;
        height: 70%;

        background: #e4f0e8;
        border: none;
        border-top: 9px solid #407F55;
        border-radius: 0 0 20px 20px;
        color: #407F55;
        font-size: 1em;
        transform-origin: 50% 5em;
        animation: wiggle 2s linear infinite;
        cursor: pointer;
      }

      /* Keyframes */
      @keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin-bottom: 0.2rem;
    }

    .version {
      font-weight: bold;
      font-size: 1rem;
    }

    .copy {
      font-size: 0.7rem;
    }
  }
}
