:host ::ng-deep .split-money-container {
    height: calc(100vh - 64px);
    animation-duration: 0.1s;
    animation-name: showOut;
    animation-timing-function: ease-in-out;
  
    .version-box {
      text-align: center;
  
      p {
        margin-bottom: 0.2rem;
      }
  
      .name {
        font-weight: bold;
        font-size: 0.7rem;
      }
  
      .copy {
        font-size: 0.5rem;
      }
    }
  }
  