<div class="split-money-container">
    <div nz-row>
      <div nz-col nzSpan="7">
        <info-user-payment [deliveryInfo]="deliveryInfo"></info-user-payment>
        <info-order></info-order>
        <div class="version-box">
            <p class="name">Phiên bản 0.0.1</p>
            <p class="copy">© Copyright 2021 TodayUongGi?. All rights reserved</p>
        </div>
      </div>
      <div nz-col nzSpan="10">
        dasdasd
      </div>
      <div nz-col nzSpan="7">
        dsadasd
      </div>
    </div>
</div>