<div class="split-money-container">
    <div nz-row>
      <div nz-col nzSpan="7">
        <info-user-payment [deliveryInfo]="deliveryInfo"></info-user-payment>
        <info-order [deliveryInfo]="deliveryInfo"></info-order>
        <div class="version-box">
            <p class="name">Phiên bản 1.0.0</p>
            <p class="copy">© Copyright 2022 TodayUongGi?. All rights reserved</p>
        </div>
      </div>
      <div nz-col nzSpan="10">
        <info-payment
          [deliveryInfo]="deliveryInfo"
          [createUserId]="deliveryInfo.userCreate"
          [assignUserId]="deliveryInfo.assignUserId"
        ></info-payment>
      </div>
      <div nz-col nzSpan="7">
        <list-split-money [deliveryInfo]="deliveryInfo" [createUserId]="deliveryInfo.userCreate"></list-split-money>
      </div>
    </div>
</div>