:host ::ng-deep .room-container {
    height: calc(100vh - 64px);

    .room-content {
        height: calc(100vh - 64px - 50px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .room-item {
            position: relative;
            overflow: hidden;
            width: 10vw;
            height: 10vw;
            border-radius: 10px;
            margin: 0 1vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 1px 15px rgba(180, 191, 206, 0.1);
            background-color: #ffffff;
            border: 1px solid white;
            text-align: center;
            transition: all .3s ease-in-out;

            i {
                font-size: 1.4vw;
                font-weight: bold;
                color: #2D3867;
                transition: all .3s ease-in-out;
            }

            &:hover {
                border-color: #ee4d2d;
                cursor: pointer;

                i,
                .room-content {
                    color: #ee4d2d;
                }
            }
        }

        .room-content {
            font-size: 1vw;
            height: 1.3vw;
            font-weight: bold;
            margin: 0;
            color: #2D3867;
            z-index: 100;
            transition: all .3s ease-in-out;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            margin-bottom: 0.2rem;
        }

        .version {
            font-weight: bold;
            font-size: 1rem;
        }

        .copy {
            font-size: 0.7rem;
        }
    }

    .water-box {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        bottom: -35%;
        left: 0;
        right: 0;
    }

    .wave {
        position: relative;
        width: 100%;
        height: 100%;
        background: #ee4d2d;
        border-radius: 0;
        box-shadow: inset 0 0 50px rgba(0, 0, 0.5);
    }

    .wave:before,
    .wave:after {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
        background: #250701;
    }

    .wave:before {
        border-radius: 45%;
        background: rgba(255, 255, 255, 1);
        animation: animate 10s linear infinite;
    }

    .wave:after {
        border-radius: 40%;
        background: rgba(255, 255, 255, .5);
        animation: animate 5s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: translate(-50%, -70%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -75%) rotate(360deg);
        }
    }
}