<div class="room-container">
    <div class="room-content">
        <div *ngFor="let room of listRooms;" class="room-item">
            <div class="loader-container">
              <svg
                *ngIf="(room.key | findRoomInOrders:listDeliveries)"
                [class.path-in-order]="room.key | findRoomInOrders:listDeliveries"
                [class.path-order-success]="(listDeliveries | deliveryDetail:room.key) && (listDeliveries | deliveryDetail:room.key).isCompleted"
                class="spinner" stroke="#000" width="70" height="70" viewBox="0 0 206 206" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <clipPath id="cut-off-bottom">
                    <rect x="0" y="0" width="70" height="70" fill="#000"/>
                  </clipPath>
                </defs>

                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="103" cy="103" r="100"></circle>
              </svg>
              <div class="room-avatar">
                <p *ngIf="!(room.key | findRoomInOrders:listDeliveries); else showImageOrder" class="room-avatar-content">{{ room.name | firstCharOfEachWord }}</p>
                <ng-template #showImageOrder>
                  <img
                    [src]="(listDeliveries | deliveryDetail:room.key).delivery.photos | displayImage"
                  >
                </ng-template>

                <div nz-tooltip class="room-avatar-sub-icon" nzTooltipPlacement="right" [nzTooltipTitle]="room.isPrivate ? 'Phòng riêng tư' : 'Phòng công khai'">
                  <span *ngIf="room.isPrivate; else publicRoom " nz-icon nzType="lock" nzTheme="outline"></span>
                  <ng-template #publicRoom>
                    <span nz-icon nzType="global" nzTheme="outline"></span>
                  </ng-template>
                </div>
              </div>
            </div>

            <p *ngIf="(room.key | findRoomInOrders:listDeliveries)" class="room-delivery-name">{{ (listDeliveries | deliveryDetail:room.key).delivery.name }}</p>
            <p class="room-status">
              <span *ngIf="!(room.key | findRoomInOrders:listDeliveries); else inProcess" class="empty">Phòng trống</span>
              <ng-template #inProcess>
                <span *ngIf="(listDeliveries | deliveryDetail:room.key) && (listDeliveries | deliveryDetail:room.key).isCompleted; else inOrder" class="already-order">Đã đặt món</span>

                <ng-template #inOrder>
                  <span>Đang chọn món</span>
                </ng-template>

              </ng-template>
            </p>

            <p class="room-content">{{ room.name }}</p>
            <p class="room-sub-content">{{ room.description }}</p>
            <!-- <div *ngIf="(room.key | findRoomInOrders:listDeliveries)" class="water-box">
                <div class="wave"></div>
            </div> -->
            <div class="room-button">
              <button type="button" (click)="onSelectedRoom(room)">Vào phòng</button>
            </div>
        </div>
        <div class="room-create-item" (click)="addRoom()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            <p class="room-content">Thêm phòng</p>
        </div>
    </div>

    <div class="footer">
        <p class="version">Phiên bản 2.0.0</p>
        <p class="copy">© Copyright 2023 TodayUongGi?. All rights reserved</p>
    </div>
</div>
