<div class="room-container">
    <div class="room-content">
        <div *ngFor="let room of listRooms;" class="room-item" (click)="onSelectedRoom(room)">
            <p class="room-content">{{ room.name }}</p>
            <div *ngIf="(room.key | findRoomInOrders:listDeliveries)" class="water-box">
                <div class="wave"></div>
            </div>
        </div>
        <div class="room-item" (click)="addRoom()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            <p class="room-content">Thêm phòng</p>
        </div>
    </div>

    <div class="footer">
        <p class="version">Phiên bản 1.0.0</p>
        <p class="copy">© Copyright 2022 TodayUongGi?. All rights reserved</p>
    </div>
</div>