nz-header {
  width: 95%;
  margin: 0 auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Dosis';
    color: #407F55;
    position: relative;

    img {
      width: auto;
      height: 13px;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }

  .room-name {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Dosis';
    color: #2D3867;
    max-width: 20vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .room-icon-type {
      padding-right: 6px;
    }
  }

  .btn-icon-edit-room {
    cursor: pointer;
    margin-left: 10px;
    transition: all .3s;

    &:hover {
      color: #407F55;
    }
  }

  .right-content {
    display: flex;
    align-items: center;
  }

  .nick-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-color: #e4f0e8;
    border-radius: 30px;

    .avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #407F55;
      border: 1px solid #ffffff;

        span {
          font-size: 0.9rem;
          color: #ffffff;
        }
    }

    .text {
      margin-left: 0.5rem;
      color: #407F55;
      margin: 0;
      height: 30px;
      border: 1px solid #407F55;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0.5rem;
      border-radius: 30px;
      font-size: 0.9rem;
      cursor: pointer;
    }

    .name {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.4rem;
      color: #2D3867;
      font-weight: bold;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .btn-logout {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 65, 84, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-radius: 50%;
    border: 1px solid transparent;
    color: #FF4154;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      border-color: #FF4154;
    }
  }

  .btn-quit-room {
    width: auto;
    height: 35px;
    background-color: #e4f0e8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-radius: 20px;
    border: 1px solid transparent;
    color: #2D3867;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s ease-in-out;

    &:hover {
      color: #407F55;
      border-color: #407F55;
    }
  }
}
