<nz-header>
    <div class="logo">
      Today Uống Gì?
      <img src="../../../assets/images/shopeefoodvn.png" alt="logo">
    </div>
    <div *ngIf="room" class="room-name">
      <span *ngIf="room.isPrivate; else publicRoom " nz-icon nzType="lock" nzTheme="outline" class="room-icon-type"></span>
      <ng-template #publicRoom>
        <span nz-icon nzType="global" nzTheme="outline" class="room-icon-type"></span>
      </ng-template>

      <span *ngIf="room.description; else noDes" nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="room.description">{{ room.name }}</span>
      <ng-template #noDes>
        <span>{{ room.name }}</span>
      </ng-template>

      <span *isAllow="room.createUser" nz-icon nzType="edit" nzTheme="outline" class="btn-icon-edit-room" (click)="editRoom()" nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="'Chỉnh sửa thông tin phòng'"></span>
    </div>
    <div class="right-content">
      <nz-badge *ngIf="paymentPaid" (click)="openDrawer()" class="notify-payment-paid" nzDot nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="'Danh sách chưa thanh toán tiền cho người đặt'">
        <span nz-icon nzType="notification"></span>
      </nz-badge>
      <div class="nick-name-box" [ngStyle]="userInfo && {'padding': '0 1rem 0 0'}">
        <ng-container *ngIf="!userInfo; else userInfoContent">
            <p class="text" (click)="openLoginDialog()">Đăng nhập</p>
        </ng-container>
        <ng-template #userInfoContent>
            <div class="avatar">
                <span>{{ userInfo.displayName | formatNameTo2Char }}</span>
            </div>
            <span class="name">{{ userInfo.displayName }}</span>
        </ng-template>
      </div>
      <button *ngIf="userInfo && room" class="btn-quit-room" (click)="quitRoom()">
        Thoát phòng
      </button>
      <button *ngIf="userInfo" class="btn-logout" (click)="logOut()" nz-tooltip nzTooltipPlacement="bottom" [nzTooltipTitle]="'Đăng xuất'">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
      </button>
    </div>
</nz-header>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleDrawerPaymentsPaid"
  nzPlacement="right"
  nzTitle="Danh sách chưa thanh toán"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <p>Đợi một chút...</p>
    <p>Tính năng này đang được phát triển</p>
    <p>Hãy quay lại sau</p>
  </ng-container>
</nz-drawer>
