<nz-header>
    <div class="logo">Today Uống Gì?</div>
    <div *ngIf="room" class="room-name">
      {{ room.name }}
    </div>
    <div class="right-content">
      <div class="nick-name-box" [ngStyle]="userInfo && {'padding': '0 1rem 0 0'}">
        <ng-container *ngIf="!userInfo; else userInfoContent">
            <p class="text" (click)="openLoginDialog()">Đăng nhập</p>
        </ng-container>
        <ng-template #userInfoContent>
            <div class="avatar">
                <span>{{ userInfo.displayName | formatNameTo2Char }}</span>
            </div>
            <span class="name">{{ userInfo.displayName }}</span>
        </ng-template>
      </div>
      <button *ngIf="userInfo && room" class="btn-quit-room" (click)="quitRoom()">
        Thoát phòng
      </button>
      <button *ngIf="userInfo" class="btn-logout" (click)="logOut()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
      </button>
    </div>
</nz-header>
