<div class="note-form">
    <div class="note-form__header">
      <h1>Cập nhật ghi chú</h1>
      <button class="btn-close-modal" (click)="closeModal()">Đóng</button>
    </div>
    <form nz-form [formGroup]="noteForm" (ngSubmit)="submitNoteForm()">
      <div class="form-content">
        <nz-form-item>
          <nz-form-control [nzXs]="24">
            <input nz-input formControlName="note" id="note" autocomplete="off" placeholder="Ghi chú. Vd: Không bỏ trân châu" maxlength="255"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <button type="submit" class="btn-footer">Xác nhận</button>
    </form>
</div>
  