:host ::ng-deep .need-login-container {
  height: calc(100vh - 64px);

  .need-login-content {
    height: calc(100vh - 64px - 50px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      box-shadow: 0px 1px 15px rgba(180, 191, 206, 0.1);
      background-color: #ffffff;
      animation-duration: 0.1s;
      animation-name: showOut;
      animation-timing-function: ease-in-out;
      width: 50vh;
      height: 40vh;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.3rem;
        margin-top: 2rem;
        color: #ee4d2d;
        font-family: 'Dosis';
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin-bottom: 0.2rem;
    }

    .version {
      font-weight: bold;
      font-size: 1rem;
    }

    .copy {
      font-size: 0.7rem;
    }
  }
}
