<div class="info-payment-container" [ngStyle]="!paymentsPaid ? {'margin': '1rem 3% 1rem 1rem'} : {}">
    <p class="title">{{ splitMoneyType == 0 ? 'Thông tin thanh toán' : 'Thông tin món'}}</p>
    <!-- <div class="price-content">
        <p class="payment-price">
            Giá chênh lệch sau khuyến mãi <span>3.000 vnđ</span>
        </p>
        <p class="payment-price">
            Tổng số phần <span>3</span>
        </p>
        <p class="payment-price">
            Giá giảm cho mỗi phần <span>3.000 vnđ</span>
        </p>
    </div>
    <div class="line-break"></div> -->
    <div class="payment-other-info">
        <div class="group-info">
            <!-- <p>Trạng thái đơn hàng: <b>{{ deliveryInfo.deliveryStatus === 1 ? 'ĐANG VẬN CHUYỂN' : 'ĐÃ NHẬN HÀNG' }}</b></p> -->
            <p>Tổng số phần: <b>{{ totalDish }}</b></p>
            <p *ngIf="splitMoneyType == 0">Tổng giá được giảm: <b>{{ downPrice | number }} vnđ</b></p>
        </div>
        <div class="btn-group">
            <button class="btn-cancel" (click)="renewDelivery()">Tạo bình chọn mới</button>
            <!-- <button *ngIf="(createUserId | isUserPermission:assignUserId:false) && deliveryInfo.deliveryStatus === 1" class="btn-complete" (click)="completeDelivery()"
                [ngStyle]="isSendMessage && {'width': '80px'}"
            >
                <span *ngIf="!isSendMessage; else sendingMsg">Gửi thông báo đã nhận hàng</span>
                <ng-template #sendingMsg>
                    <div class="dot-flashing"></div>
                </ng-template>
            </button> -->
        </div>
    </div>
    <p class="title">Thông tin món của bạn</p>
    <table>
        <tr>
            <th class="text-center price-quantity">STT</th>
            <th class="text-center">Thông tin món</th>
            <th class="text-center price-note">Ghi chú</th>
            <th class="text-center price-quantity">Số lượng</th>
            <th class="text-center price-w">Giá món <br>(đ)</th>
            <th *ngIf="splitMoneyType == 0" class="text-center price-w">Phí (đ)</th>
            <th *ngIf="splitMoneyType == 0" class="text-center price-w">Giảm giá <br>(đ)</th>
            <th *ngIf="splitMoneyType == 0" class="text-center price-w-total">Tổng giá <br>(đ)</th>
        </tr>
        <tr *ngFor="let item of paymentDishByUser; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ item.dishName }}</td>
            <td>{{ item.note }}</td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-right">{{ (item.discountPrice ? item.discountPrice : item.price) | number }}</td>
            <td *ngIf="splitMoneyType == 0" class="text-right">+{{ item.fee | number }}</td>
            <td *ngIf="splitMoneyType == 0" class="text-right">-{{ item.sponsorPrice | number }}</td>
            <td *ngIf="splitMoneyType == 0" class="text-right">{{ item.totalPrice | number }}</td>
        </tr>
        <tr *ngIf="splitMoneyType == 0" class="total-payment">
            <td class="text-right" colspan="7">Tổng tiền phải trả</td>
            <td class="text-right">{{ this.totalPayment | number }}</td>
        </tr>
    </table>

    <br>
    <p class="title">Thông tin món người khác</p>
    <table>
        <tr>
            <th class="text-center price-quantity">STT</th>
            <th class="text-center">Người đặt</th>
            <th class="text-center">Thông tin món</th>
            <th class="text-center price-note">Ghi chú</th>
            <th class="text-center price-quantity">Số lượng</th>
            <th class="text-center price-w">Giá món <br>(đ)</th>
            <th *ngIf="splitMoneyType == 0" class="text-center price-w">Phí (đ)</th>
            <th *ngIf="splitMoneyType == 0" class="text-center price-w">Giảm giá <br>(đ)</th>
            <th *ngIf="splitMoneyType == 0" class="text-center price-w-total">Tổng giá <br>(đ)</th>
        </tr>
        <tr *ngFor="let item of paymentDishByOtherUser; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ item.userKey | displayNameUser }}</td>
            <td>{{ item.dishName }}</td>
            <td>{{ item.note }}</td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-right">{{ (item.discountPrice ? item.discountPrice : item.price) | number }}</td>
            <td *ngIf="splitMoneyType == 0" class="text-right">+{{ item.fee | number }}</td>
            <td *ngIf="splitMoneyType == 0" class="text-right">-{{ item.sponsorPrice | number }}</td>
            <td *ngIf="splitMoneyType == 0" class="text-right">{{ item.totalPrice | number }}</td>
        </tr>
        <tr *ngIf="splitMoneyType == 0" class="total-payment">
            <td class="text-right" colspan="8">Tổng</td>
            <td class="text-right">{{ this.totalPaymentOther | number }}</td>
        </tr>
    </table>
</div>
