<div class="app-content-wrapper">
  <header [userInfo]="userInfo"></header>
  <ng-container *ngIf="isLoginIn; else showNeedLogin">
    <ng-container *ngIf="isSelectedRoom; else noRoomSelected">
      <ng-container *ngIf="deliveryInfo && deliveryInfo.isCreate; else showCreateDelivery">
        <place-order *ngIf="!deliveryInfo.isCompleted; else splitMoneyInformation" [deliveryInfo]="deliveryInfo"></place-order>
        <ng-template #splitMoneyInformation>
          <split-money [deliveryInfo]="deliveryInfo"></split-money>
        </ng-template>
      </ng-container>
      <ng-template #showCreateDelivery>
        <create-delivery [deliveryInfo]="deliveryInfo" [user]="userInfo"></create-delivery>
      </ng-template>
    </ng-container>
    <ng-template #noRoomSelected>
      <rooms></rooms>
    </ng-template>
  </ng-container>
  <ng-template #showNeedLogin>
    <need-login></need-login>
  </ng-template>
</div>
