<button class="theme-trigger" type="button" (click)="toggle()" title="Đổi giao diện">
  <span class="theme-swatches">
    <span class="ts-dot" *ngFor="let c of current.swatches" [style.background]="c"></span>
  </span>
  <span class="theme-trigger-name">{{ current.name }}</span>
  <app-icon name="chevron" [size]="14"></app-icon>
</button>

<div class="theme-pop" *ngIf="open" role="menu">
  <div class="theme-pop-head">Giao diện</div>
  <ul class="theme-pop-list">
    <li *ngFor="let p of palettes">
      <button
        type="button"
        class="theme-opt"
        [class.active]="p.id === current.id"
        (click)="select(p.id, p, $event)"
      >
        <span class="theme-swatches">
          <span class="ts-dot" *ngFor="let c of p.swatches" [style.background]="c"></span>
        </span>
        <span class="theme-opt-name">{{ p.name }}</span>
        <app-icon *ngIf="p.id === current.id" name="check" [size]="14"></app-icon>
      </button>
    </li>
  </ul>
</div>
