<div class="place-order-container">
  <div nz-row>
    <div nz-col nzSpan="7">
      <shop-info [deliveryInfo]="deliveryInfo"></shop-info>
      <history-order></history-order>
      <div class="version-box">
        <p class="name">Phiên bản 1.0.0</p>
        <p class="copy">© Copyright 2022 TodayUongGi?. All rights reserved</p>
      </div>
    </div>
    <div nz-col nzSpan="10">
      <list-dish [deliveryInfo]="deliveryInfo"></list-dish>
    </div>
    <div nz-col nzSpan="7">
      <list-order
        [remainingTime]="deliveryInfo.remainingTime"
        [createDate]="deliveryInfo.createDateTime"
        [createUserId]="deliveryInfo.userCreate"
        [assignUserId]="deliveryInfo.assignUserId"
      ></list-order>
    </div>
  </div>
</div>
