<div class="place-order-container">
  <div nz-row>
    <div nz-col nzSpan="6">
      <shop-info [deliveryInfo]="deliveryInfo"></shop-info>
      <history-order></history-order>
      <div class="version-box">
        <p class="name">Phiên bản 0.0.1</p>
        <p class="copy">© Copyright 2021 TodayUongGi?. All rights reserved</p>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <list-dish></list-dish>
    </div>
    <div nz-col nzSpan="6">
      <list-order></list-order>
    </div>
  </div>
</div>
