:host ::ng-deep .list-split-money-container {
    height: calc(100vh - 64px - 35px);
    margin: 1rem 10% 1rem 2rem;
    box-shadow: 0px 1px 15px rgba(180, 191, 206, 0.1);
    background-color: #ffffff;
    border-radius: 30px;
    position: relative;
    overflow: hidden;

    .title {
        font-family: "Dosis";
        font-weight: bold;
        color: #2D3867;
        font-size: 1.1vw;
        text-align: center;
        margin: 0.5vw 0;
    }

    .split-money-content {
        height: calc(100vh - 6vh - 64px - 35px);
        overflow-y: auto;
        padding-bottom: 4vw;

        &::-webkit-scrollbar {
            background: transparent;
            width: 5px;
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(214, 214, 214, 0.4);
            border-radius: 10px;
            display: none;
        }

        &::-webkit-resizer,
        &::-webkit-scrollbar-button,
        &::-webkit-scrollbar-corner {
            display: none;
        }

        .split-money-item {
            border-bottom: 5px solid #EBF2FF;
            padding: 0.5vw 1.5vw 0 1.5vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &__main-content {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                position: relative;
                width: 100%;
                padding: 12px 0;

                .main-content-info {
                  display: flex;
                  justify-content: flex-start;
                  align-items: flex-start;
                  flex-direction: column;

                  .main-content-total {
                    color: #3B5043;
                    font-size: 0.8vw;
                    margin: 0;
                    font-weight: bold;
                    padding-top: 2px;
                  }
                }

                .main-content-name {
                  color: #2D3867;
                  font-size: 0.7vw;
                  margin: 0;
                  font-weight: bold;
                  padding-bottom: 4px;

                  span.icon-key-room {
                    color: #fadb15;
                    font-size: 0.8vw;
                  }
                }

                .current-user {
                  text-decoration: underline;
                  text-decoration-style: dotted;
                }

                .main-content-check-payment {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                }
            }
        }
    }

    .order-footer {
        position: absolute;
        width: 100%;
        height: 4vw;
        bottom: 0;
        left: 0;
        z-index: 100;
        border-top: 1px solid #e4f0e8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5vw 1vw;
        background-color: #ffffff;

        .remaining-time {
            margin-bottom: 0;
            font-size: 0.8vw;
            color: #B4BFCE;
            font-family: "Dosis";

            nz-countdown {
                display: inline-block;

                .ant-statistic-content {
                    font-size: 0.8vw;
                    font-weight: bold;
                    font-family: "Dosis";
                    color: #2D3867;
                }
            }

            .time-out {
                font-size: 0.8vw;
                font-weight: bold;
                font-family: "Dosis";
                color: #2D3867;
            }

            .count-user-order {
                text-decoration: underline;
                text-decoration-style: dotted;
            }
        }

        .btn-group {
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-cancel {
                border-radius: 20px;
                border: 0;
                background: #FFE1E1;
                color: #FF4154;
                font-size: 0.8vw;
                padding: 0.3vw 0.6vw;
                cursor: pointer;
                margin-right: 1vw;
                font-family: "Dosis";
            }

            .btn-place-order {
                border-radius: 20px;
                border: 0;
                background: #e4f0e8;
                color: #407F55;
                font-size: 0.8vw;
                padding: 0.3vw 0.6vw;
                cursor: pointer;
                font-family: "Dosis";

                &:disabled {
                    background: #e6e6e6;
                    color: #525252;
                    cursor: not-allowed;
                }
            }
        }
    }
}
