<div class="list-split-money-container">
    <p class="title">Kiểm tra thanh toán</p>
    <div class="split-money-content">
        <div class="split-money-item">
            <div class="split-money-item__main-content">
                <div class="main-content-info">
                  <p class="main-content-name">Dâu</p>
                  <p class="main-content-total">18,000vnd</p>
                </div>
                <div class="main-content-check-payment">
                  <p class="main-content-name">Đã thanh toán</p>
                  <label nz-checkbox [(ngModel)]="test"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="order-footer">
        <p class="remaining-time">
            <span *ngIf="(listOrders | displayUserOrder:'countUser') && (listOrders | displayUserOrder:'countDish')"
                nzTooltipTitle="{{ listOrders | displayUserOrder }}" nzTooltipPlacement="topLeft" nz-tooltip>
                <span class="count-user-order">{{ listOrders | displayUserOrder:'countUser' }}</span> / {{ listOrders |
                displayUserOrder:'countDish' }}
            </span>
        </p>
    </div>
</div>
