@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.ant-modal-header {
    border-radius: 20px 20px 0 0 !important;
    background: #F7E0E5 !important;

    .ant-modal-title {
        color: #C73050;
    }
}

.ant-modal-body {
  padding: 0 !important;
}

.ant-modal-content {
    border-radius: 20px !important;
}

// body {
// 	// font-family: "Dosis", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
// 	// 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
// 	// 'Noto Color Emoji' !important;
//     background-image: url("./assets/images/app_bg.jpg");

// 	/* Add the blur effect */
// 	filter: blur(8px);
// 	-webkit-filter: blur(8px);

// 	/* Full height */
// 	height: 100%;

// 	/* Center and scale the image nicely */
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }
@keyframes showOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
