@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Dosis";
    src: url("./assets/fonts/Dosis-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.ant-modal-header {
    border-radius: 20px 20px 0 0 !important;
    background: #F7E0E5 !important;

    .ant-modal-title {
        color: #C73050;
    }
}

.ant-modal-body {
  padding: 0 !important;
}

.ant-modal-content {
    border-radius: 20px !important;
}

nz-select .ant-select-selector {
  height: auto !important;
  padding: 0.5rem 0.5rem 0.5rem 1rem !important;
  background-color: #F9FAFE !important;
  border: 1px solid #ECF3FE !important;
  transition: all 0.3s ease-in-out !important;
  animation-duration: 0.1s !important;
  animation-name: showOut !important;
  animation-timing-function: ease-in-out !important;

  &:hover {
    border-color: rgba(0, 83, 255, 0.3) !important;
  }

  input { height: 100% !important; }
}

// body {
// 	// font-family: "Dosis", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
// 	// 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
// 	// 'Noto Color Emoji' !important;
//     background-image: url("./assets/images/app_bg.jpg");

// 	/* Add the blur effect */
// 	filter: blur(8px);
// 	-webkit-filter: blur(8px);

// 	/* Full height */
// 	height: 100%;

// 	/* Center and scale the image nicely */
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }
@keyframes showOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes moveIn {
  from {
    transform: translateX(70px);
    opacity: 0.4;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
