:host ::ng-deep .shop-info-container {
  height: 30vh;
  margin: 1rem 2rem 1rem 10%;
  box-shadow: 0px 1px 15px rgba(180, 191, 206, 0.1);
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1vw 1.5vw;

  .shop-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #e4f0e8;
    padding: 0.4rem 0.6rem 0.4rem 1rem;
    border-radius: 20px;

    .image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #ffffff;
      box-shadow: 0px 8px 15px rgba(180, 191, 206, 0.3);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .name {
      font-weight: bold;
      font-size: 0.9vw;
      font-family: "Dosis";
      margin: 0 0 0 1rem;
      word-break: keep-all;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 70%;
      color: #2D3867;
    }
  }

  .rating {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-info {
    margin-top: 0.6rem;

    p {
      margin-bottom: 1vw;
      font-size: 0.8vw;
      font-family: "Dosis";
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      a {
        color: #407F55;
      }
    }

    .head {
      font-weight: bold;
    }

    .hightlight {
      background-color: #FFBF00;
      padding: 0.3rem 0.4rem;
      border-radius: 10px;
      color: #ffffff;
    }
  }
}
