<div class="create-delivery-form">
  <form nz-form [formGroup]="createDeliveryForm" (ngSubmit)="submitDeliveryForm()">
    <div class="form-content">
      <nz-form-item>
        <nz-form-control class="first-control" [nzXs]="24" [nzErrorTip]="errorUsernameTpl">
          <input nz-input formControlName="urlShop" id="urlShop" autocomplete="off" placeholder="URL quán (*). Vd: https://shopeefood.vn/can-tho/nuoc-mia-my-tho-mt68" maxlength="255" />
          <ng-template #errorUsernameTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Vui lòng nhập link của quán!
            </ng-container>
            <ng-container *ngIf="control.hasError('pattern')">
              Xin vui lòng nhập đúng đường dẫn URL của NOW
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control class="first-control" [nzXs]="24" nzErrorTip="Vui lòng nhập thời gian bình chọn!">
          <nz-input-group nzAddOnAfter="Phút">
            <input nz-input formControlName="minute" id="minute" autocomplete="off" placeholder="Thời gian bình chọn (*). Vd: 10" maxlength="30"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzXs]="24" nzErrorTip="Vui lòng chọn một người trong danh sách">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn người đặt hàng (*)" formControlName="assignUser">
            <nz-option *ngFor="let user of userList" nzLabel="{{user.displayName}} ({{user.username}})" [nzValue]="user.username"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <button type="submit" class="btn-footer">Xác nhận</button>
    <button type="submit" class="btn-cancel" (click)="onBtnCancelClick()">Hủy</button>
  </form>
  <div *ngIf="isShowSpinner" class="loading-overlay">
    <div class="loading-item">
      <div class="spinner"></div>
      <span>
        Đang tải dữ liệu quán <br/> Xin vui lòng đợi một chút!
      </span>
    </div>
  </div>
</div>
