<div class="list-dish-container">
  <div *ngFor="let menu of deliveryInfo.delivery.menus" class="dish-box">
    <p class="title">{{ menu.name }}</p>
    <div class="dish-wrapper">
      <div *ngFor="let dish of menu.dishes" class="dish-item">
        <div class="image">
          <img [src]="dish.photos | displayImage:120" alt="{{ dish.name }}">
        </div>
        <div class="other-info">
          <p class="name">{{ dish.name }}</p>
          <div class="highlight-info">
            <p *ngIf="dish.totalLike > 0" class="vote">{{ dish.totalLike }} vote</p>
            <p *ngIf="dish.options && dish.options.length > 0" class="option">Tùy chọn: {{ dish.options | displayOption }}</p>
            <p *ngIf="!dish.isAvailable" class="out-of-stock" [ngStyle]="((dish.options && dish.options.length > 0) || (dish.totalLike > 0)) && {'margin-left': '0.5vw'}">Hết hàng</p>
          </div>
          <div class="price-wrapper">
            <p class="price">{{ dish.discountPrice ? dish.discountPrice.text : dish.price.text }}</p>
            <p *ngIf="dish.discountPrice" class="remove-price">{{ dish.price.text }}</p>
          </div>
        </div>
        <div *ngIf="dish.isAvailable" class="btn-add-wrapper">
          <button class="btn-add"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
        </div>
      </div>
    </div>
    <!-- <div nz-row [nzGutter]="10">
      <div *ngFor="let dish of menu.dishes" nz-col nzSpan="6" class="col-wrapper">
        <div class="menu-item">
          <div class="image">
            <img [src]="dish.photos | displayImage:120" alt="{{ dish.name }}">
            <button class="btn-add"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
            <button *ngIf="dish.totalLike > 0" class="btn-vote">{{ dish.totalLike }} vote</button>
          </div>
          <div class="content">
            <p class="dish-name">{{ dish.name }}</p>
            <div class="price">
              <p class="active">{{ dish.price.text }}</p>
              <p *ngIf="dish.discountPrice" class="discount">{{ dish.discountPrice.text }}</p>
            </div>
            <p *ngIf="dish.options && dish.options.length > 0" class="additional">Món này có thêm tùy chọn</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
