<div class="list-dish-container">
  <div *ngIf="deliveryInfo.delivery.voucher && deliveryInfo.delivery.voucher.length > 0" class="voucher-box">
    <p class="title">Mã giảm giá</p>
    <div class="voucher-wrapper">
      <div *ngFor="let voucher of deliveryInfo.delivery.voucher" class="voucher-item" [ngStyle]="{'background-color': voucher.isPromotion ? '#EBF2FF' : '#FFE1E1'}">
        <div class="icon">
          <img [src]="voucher.icon" alt="{{ voucher.code }}">
        </div>
        <p class="content" [innerHtml]="voucher.content"></p>
      </div>
    </div>
  </div>
  <div *ngFor="let menu of deliveryInfo.delivery.menus" class="dish-box">
    <p class="title">{{ menu.name }}</p>
    <div class="dish-wrapper">
      <div *ngFor="let dish of menu.dishes" class="dish-item">
        <div class="image">
          <img [src]="dish.photos | displayImage:120" alt="{{ dish.name }}">
        </div>
        <div class="other-info">
          <p class="name" [ngStyle]="dish.description && {'line-height': '0.9vw'}">{{ dish.name }}</p>
          <p *ngIf="dish.description" class="description">{{ dish.description }}</p>
          <div class="highlight-info">
            <p *ngIf="dish.totalLike > 0" class="vote" [ngStyle]="((dish.options && dish.options.length > 0)) && {'margin-right': '0.5vw'}">{{ dish.totalLike }} vote</p>
            <p *ngIf="dish.options && dish.options.length > 0" class="option">Tùy chọn: {{ dish.options | displayOption }}</p>
            <p *ngIf="!dish.isAvailable" class="out-of-stock" [ngStyle]="((dish.options && dish.options.length > 0) || (dish.totalLike > 0)) && {'margin-left': '0.5vw'}">Hết hàng</p>
          </div>
          <div class="price-wrapper">
            <p class="price">{{ dish.discountPrice ? dish.discountPrice.text : dish.price.text }}</p>
            <p *ngIf="dish.discountPrice" class="remove-price">{{ dish.price.text }}</p>
          </div>
        </div>
        <div *ngIf="dish.isAvailable" class="btn-add-wrapper">
          <button class="btn-add"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
